%echo Generating a basic OpenPGP key Ed25519 Curve25519
Key-Type: eddsa
Key-Curve: Ed25519
Key-Usage: sign
Subkey-Type: ecdh
Subkey-Curve: Curve25519
Subkey-Usage: encrypt
Preferences: SHA512 SHA384 SHA256 SHA224 CAMELLIA256 TWOFISH AES256 CAMELLIA192 AES192 Uncompressed ZIP ZLIB BZIP2
Name-Email: <your-email-address>
Expire-Date: 15y
%no-protection
%no-ask-passphrase
# Do a commit here, so that we can later print "done" :-)
%commit
%echo done
